﻿@model GetExchangeRatesViewModel
@{
    ViewData["Title"] = "Get Exchange Rates";
}

<h1>Get Exchange Rates</h1>

<form asp-action="Index" asp-controller="Home" method="post">
    <div class="form-group">
        <label class="col-black text-bold">Chose base currency: </label>
        <select class="form-control font3" asp-for="Base">
            @foreach (var currency in Model.CurrencyList)
            {
                <option value="@currency">@currency</option>
            }
        </select>
        <span asp-validation-for="Base" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-black text-bold">Chose target currency: </label>
        <select class="form-control font3" asp-for="Target">
            @foreach (var currency in Model.CurrencyList)
            {
                <option value="@currency">@currency</option>
            }
        </select>
        <span asp-validation-for="Target" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dates" class="col-black text-bold"></label>
        <textarea asp-for="Dates" rows="5" class="form-control font3"></textarea>
        <span asp-validation-for="Dates" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="CurrencyList" value="@Model.CurrencyList" />
    <input type="hidden" asp-for="Base" value="@Model.Base" />
    <input type="hidden" asp-for="Target" value="@Model.Target" />
    <input type="hidden" asp-for="Dates" value="@Model.Dates" />
    <button type="submit" class="btn btn-block btn-green mb-2 f-32">Search</button>
</form>

@if (Model.MaxRate > 0 && Model.MinRate > 0 && Model.AverageRate > 0)
{
    <div>
        <h1>Results:</h1>
        <p>Max rate is: @Model.MaxRate and it was on @Model.MaxRateDate</p>
        <p>Min rate is: @Model.MinRate and it was on @Model.MinRateDate</p>
        <p>Average rate is: @Model.AverageRate</p>
    </div>
}

